.robotolight {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 5rem;
}

.robotothin {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
}

.indexcolor {
    color: white;
}

.logoindex {
    opacity: 80%;
}

.logoindex:hover {
    opacity: 100%;
}

.center {
    text-align: center;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.roundimg {
    border-radius: 50%;
}

.headerimg {
    width: 45px;
    height: 45px;
}

.headerbar {
    position: sticky;
    top: 0%;
    margin: 0;
    height: 50px;
    background-color: #a000a0;
    padding: 10px;
    display: flex;
    align-items: center;
}

.linkedinlogo {
    font-size: 25px;
    color: white;
    opacity: 80%;
}

.linkedinlogo:hover {
    opacity: 100%;
}

.logo {
    width: 10%;
    opacity: 80%;
}

.logo:hover {
    opacity: 100%;
}

.navegacion {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    /* color: white; */
    
}

.linkedin {
    width: 10%;
    text-align: right;
}

body {
    background: #afafaf;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
    font-weight: 500;
}