*{
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    background: #B7BBBD;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    height: calc(100% - 50px);
    width: 100vw;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #EFF8F3;
}

a:visited {
    color: #EFF8F3;
}

a:hover {
    color: #EFF8F3;
    font-weight: 500;
}

.transitionbar a {
    transition: all .3s ease-in-out;
}

.robotolight {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 5rem;
}

.robotothin {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
}

p.robotothin {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.5;
}

#presentacion {
    font-size: 2.5rem;
    line-height: 2;
}

.experienciah2 {
    font-size: 4rem;
}

.experienciah3 {
    font-size: 2.5rem;
}

.tecnologiash3 {
    font-size: 2.5rem;
}

.indexcolor {
    color: #404E88;
}

.logoindex {
    opacity: 80%;
    transition: all .3s ease-in-out;
}

.logoindex:hover {
    opacity: 100%;
}

.center {
    text-align: center;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.roundimg {
    border-radius: 50%;
}

.headerimg {
    width: 45px;
    height: 45px;
}

.headerbar {
    position: sticky;
    top: 0%;
    margin: 0;
    height: 50px;
    background-color: #404E88;
    padding: 10px;
    display: flex;
    align-items: center;
}

.linkedinlogo {
    font-size: 25px;
    color: #EFF8F3;
    opacity: 80%;
    transition: all .3s ease-in-out;
}

.linkedinlogo:hover {
    opacity: 100%;
}

.logo {
    width: 10%;
    opacity: 80%;
    transition: all .3s ease-in-out;
}

.logo:hover {
    opacity: 100%;
}

.dropdown {
    display: none;
}

.navegacion {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.linkedin {
    width: 10%;
    text-align: right;
}

.articuleblock {
    background-color: #404E88;
    color: #EFF8F3;
    font-size: 2rem;
    text-align: left;
    height: 90%;
    margin: 0 25px;
    padding: 25px;
    width: 100vw;
    overflow: auto;
}

.tecnoblockup {
    width: 48%;
    margin: 1% 1%;
    height: 55%;
}

.tecnoblockdown {
    width: 98%;
    margin: 1% 1% 1%;
    height: 30%;
}

.iframe {
    width: 300px;
}

.loading {
    display: flex;
    justify-content: center;
}

.list-style {
    list-style: none;
}


@media only screen and (max-width: 425px) {
    .robotolight {
        font-size: 3rem;
    }

    .robotothin {
        font-size: 1;
    }

    .logoindex {
        width: 45vw;
    }
    
    .headerbar {
        justify-content: space-between;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;    
    }
    
    .dropdown-btn {
        border: none;
        color: white;
        padding: 16px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #B7BBBD;
        min-width: 160px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, .2);
        left: -50px;
        top: 50px;
    }
    
    .dropdown-content a {
        color: #404E88;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
    }
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .navegacion {
        display: none;
    }

    #presentacion {
        font-size: 1.1rem;
    }

    .tecnologiash3 {
        font-size: 1.5rem;
    }

    .tecnoblockup li {
        font-size: 1.1rem;
    }

    .tecnoblockdown li {
        font-size: 1.1rem;
    }

    .experienciah2 {
        font-size: 2.5rem;
    }

    .experienciah3 {
        font-size: 1.5rem;
    }

    .robotothin li {
        font-size: 1.2rem;
    }

}

@media only screen and (min-width: 426px) and (max-width: 960px) {
    .robotolight {
        font-size: 3rem;
    }

    .robotothin {
        font-size: 1;
    }

    .logoindex {
        width: 45vw;
    }
    
    .headerbar {
        justify-content: space-between;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;    
    }
    
    .dropdown-btn {
        border: none;
        color: white;
        padding: 16px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #B7BBBD;
        min-width: 160px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, .2);
        left: -50px;
        top: 50px;
    }
    
    .dropdown-content a {
        color: #404E88;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
    }
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .navegacion {
        display: none;
    }

    #presentacion {
        font-size: 1.1rem;
    }

    .tecnologiash3 {
        font-size: 1.5rem;
    }

    .tecnoblockup li {
        font-size: 1.1rem;
    }

    .tecnoblockdown li {
        font-size: 1.1rem;
    }

    .experienciah2 {
        font-size: 2.5rem;
    }

    .experienciah3 {
        font-size: 1.5rem;
    }

    .robotothin li {
        font-size: 1.2rem;
    }

}

/* @media only screen and (min-width: 961px) {

} */